################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/bin/Debug
/Filters/bin/Debug
/Filters/obj
/.vs/WinFilters/v15/Server/sqlite3
/Core/obj/Debug
